@model PageViewModel

@{
    ViewData["Title"] = "Detail Back Office";
    Layout = "_Layout"; // Spécifiez le nom du fichier de mise en page ici
}

<!-- Le reste du contenu spécifique à votre page "detail" va ici -->
<main role="main" class="pb-3">
    <h1>@Model.Title</h1>
    <p>@Model.Content</p>
</main>
